@import "../variable/color";
@import "../mixin/font";

.portfolio-info-list {
  padding-top: 100px;

  .info-item {
    h4 {
      @include font(32px, 700);
      color: #276FFF;
      text-transform: uppercase;
      padding-bottom: 20px;
    }

    p {
      @include font(20px, 500);
      color: $white;
    }
  }
}